.cart{
    // display: flex;
    min-height: 90vh;
    position: relative;
    main{
        // width: 70%;
        padding: 40px;
    }
}

.cart-box{
    justify-content: center;
    display: flex;
}