@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;}

:root{
    --shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --main:#a29bfe;
}